<section class="signup-forms" id="signup-form-section" fxLayout="row" fxLayoutAlign="center">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input 
          type="email"
          matInput
          placeholder="Your email"
          formControlName="email">
          <mat-hint>Please enter a valid email.</mat-hint>
          <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" hintLabel="{{passwordHint}}">
        <mat-label>Password</mat-label>
        <input 
          type="password"
          matInput
          placeholder="Your password"
          formControlName="password">
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Missing password.</mat-error>
      </mat-form-field>
      <button *ngIf="!isLoading" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
      <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
    </form>
  </section>
  