<section class="new-training" fxLayout="row" fxLayoutAlign="center">
  <form (ngSubmit)="startTraining(f)" #f="ngForm">
    <mat-card fxFlex.lt-sm="100%">
      <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading && exercises">
          <mat-select placeholder="Exercise" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise?.id">{{exercise?.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
        <button *ngIf="exercises" type="submit" mat-button color="primary" [disabled]="f.invalid">Start</button>
        <button *ngIf="!exercises" type="button" mat-button color="primary"(click)="fetchExercises()">Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>