.nav-caption {
  display: inline-block;
  padding-left: 10px;
}

mat-nav-list {
  a, mat-list-item {
    transition: all .2s;
    &:link, &:visited {
        text-decoration: none;
    }
    
    &:hover, &:active {
        color: #eceff1;
        background: black;
    }
  }
}