<mat-nav-list>
  <a mat-list-item class="nav-link" routerLink="/signup" (click)="closeMatSidenav()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item class="nav-link" routerLink="/login" (click)="closeMatSidenav()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item class="nav-link" routerLink="/training" (click)="closeMatSidenav()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item *ngIf="isAuth" (click)="closeMatSidenav(); onLogout()">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>