<section class="current-training" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
  <h1>{{progress}}%</h1>
  <p>Press on and don't give up. You can do it</p>
  <button mat-raised-button color="warn" (click)="onStop()">Stop</button>
</section>