<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title>Are you sure?</h1>
  <mat-dialog-content>
    <p>You have completed {{ passedData.progress }}%</p>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutGap="5px" fxLayout>
    <button mat-stroked-button [mat-dialog-close]="true" color="primary">Yes</button>
    <button mat-stroked-button [mat-dialog-close]="false" color="accent">No</button>
  </mat-dialog-actions>
</section>