<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleMatSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">FITNESS</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout class="nav-list">
      <li class="nav-item" *ngIf="!isAuth"><a class="nav-link" routerLink="/signup">Signup</a></li>
      <li class="nav-item" *ngIf="!isAuth"><a class="nav-link" routerLink="/login">Login</a></li>
      <li class="nav-item" *ngIf="isAuth"><a class="nav-link" routerLink="/training">Training</a></li>
      <li class="nav-item" *ngIf="isAuth"><a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>