mat-toolbar {
  a {
    transition: all .2s;
    &:link, &:visited {
        text-decoration: none;
        color: white;
    }
    
    &:hover, &:active {
        color: #eceff1;
    }
  }

  .nav-list {
		list-style: none;
		padding: 0;
		margin: 0;
		
		& > *:not(:last-child) {
				margin-right: 10px;
		}
  }
}