<section class="signup-forms" id="signup-form-section" fxLayout="row" fxLayoutAlign="center">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input 
      type="email" 
      matInput 
      placeholder="Your email" 
      ngModel 
      name="email"
      email
      required
      #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" hintLabel="{{passwordHint}}">
      <mat-label>Password</mat-label>
      <input 
      (focus)="onFocus('Should be at least 6 characters long')"
      type="password"
      matInput 
      placeholder="Your password" 
      ngModel 
      name="password"
      required
      minlength="6"
      #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      
      <input 
        matInput 
        placeholder="Your Birthdate" 
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthdate"
        required>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox fxFlexAlign="start" color="primary" ngModel name="agree" required>Agree to Terms and Conditions</mat-checkbox>
    <button *ngIf="!isLoading" mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
  </form>
</section>
